<div class="row butonlar-div mb-2" >
  <div class="d-flex justify-content-between ">
      <span class="m-2 color-mavi mt-3 ml-4 fs-12">Sürücü</span>
      <span >
          <button type="button" class="btn btn-primary btn1 m-1">+</button>
          <button type="button" class="btn btn-primary btn1 m-1">Filitrele</button>
          <button type="button" class="btn btn-primary btn1 m-1">Temizle</button>
          <button type="button" class="btn btn-primary btn1 m-1">Kapat</button>
      </span>
 </div>
 </div>

<div class="row mt-2">
     <div class="col-md-8 ">
         <div class="card">
             <div class="card-header">
                 <h4 class="card-title">Genel Bilgiler</h4>
             </div>
             <div class="card-body">
                         <form class="form-horizontal">
                          <div class="row">
                            <div class="col-md-6 paddingX">
                             <div class=" row  ">
                                 <label class="col-md-3 form-label">Kod</label>
                                 <div class="col-md-9 inputShadow">
                                     <input type="text" class="form-control inputShadow" value="">
                                 </div>
                             </div> <!--Kod-->
                             <div class=" row">
                                 <label class="col-md-3 form-label">Ad</label>
                                 <div class="col-md-9">
                                    <input type="text" class="form-control" value="">
                                 </div>
                             </div> <!--Ad-->
                             <div class=" row">
                                  <label class="col-md-3 form-label">Soyadı</label>
                                  <div class="col-md-9">
                                    <input type="text" class="form-control" value="">
                                 </div>
                               </div> <!--Soyadı-->
                               <div class=" row">
                                   <label class="col-md-3 form-label">Uyruk</label>
                                   <div class="col-md-9">
                                     <input type="text" class="form-control" value="">
                                  </div>
                                </div> <!--Uyruk-->
                                <div class=" row ">
                                   <label class="col-md-3 form-label">Kimlik No</label>
                                   <div class="col-md-9">
                                     <input type="number" class="form-control" value="">
                                  </div>
                                </div> <!--Kimlik No-->
                                <div class=" row">
                                 <label class="col-md-3 form-label" for="example-email">Doğum Tarihi</label>
                                 <div class="col-md-9">
                                     <input type="date" id="example-email" name="example-email" class="form-control"
                                         placeholder="">
                                 </div>
                             </div><!--Doğum Tarihi-->
                            <div class=" row ">
                              <label class="col-md-3 form-label">Doğduğu Ülke</label>
                              <div class="col-md-9">
                                <input type="text" class="form-control" value="">
                             </div>
                           </div><!--Doğduğu Ülke-->
                           <div class=" row ">
                              <label class="col-md-3 form-label">Doğduğu Şehir</label>
                              <div class="col-md-9">
                                <input type="text" class="form-control" value="">
                             </div>
                           </div><!--Doğduğu Şehir-->
                            </div>
                            <div class="col-md-6 paddingX">
                              <div class=" row">
                                <label class="col-md-3 form-label">Cep Tel1</label>
                                <div class="col-md-9">
                                  <input type="tel" class="form-control" value="">
                               </div>
                             </div><!--Cep Tel1-->
                             <div class=" row ">
                                <label class="col-md-3 form-label">Cep Tel2</label>
                                <div class="col-md-9">
                                  <input type="tel" class="form-control" value="">
                               </div>
                             </div><!--Cep Tel2-->
                             <div class=" row ">
                                <label class="col-md-3 form-label">Kan Grubu</label>
                                <div class="col-md-9">
                                  <input type="tel" class="form-control" value="">
                               </div>
                             </div><!--KAn Grubu-->
                             <div class=" row ">
                                <label class="col-md-3 form-label">Bağlı Olduğu Firma</label>
                                <div class="col-md-9">
                                  <input type="tel" class="form-control" value="">
                               </div>
                             </div><!--Bağlı Olduğu Firma-->
                             <div class=" row ">
                                <label class="col-md-3 form-label">Bağlı Olduğu Firma Türü</label>
                                <div class="col-md-9">
                                  <input type="tel" class="form-control" value="">
                               </div>
                             </div><!--Bağlı Olduğu Firma Türü-->
                               <div class="form-group m-0">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control custom-checkbox">
                                     <input type="checkbox" class="custom-control-input" name="example-checkbox4"
                                         value="option4" checked >
                                     <span class="custom-control-label">Aktif</span>
                                 </label>

                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="example-checkbox4"
                                            value="option4" checked >
                                        <span class="custom-control-label">SMS Gönderilsin mi?</span>
                                    </label>

                                </div>
                              </div><!--Checkboxes-->
                            </div>
                          </div>
                         </form>
             </div>
         </div>
     </div>
     <div class="col-md-4 ">
          <div class="card">
              <div class="card-header">
                  <h4 class="card-title">Ehliyet Bilgileri</h4>
              </div>
              <div class="card-body paddingX">
                  <div class="row">
                      <div class="col-lg-12 col-md-12">
                          <form class="form-horizontal">
                              <div class=" row ">
                                   <label class="col-md-3 form-label">Ehliyet Seri No</label>
                                   <div class="col-md-9">
                                     <input type="number" class="form-control" value="">
                                  </div>
                                </div> <!--Ehliyet Seri No-->
                                <div class=" row ">
                                   <label class="col-md-3 form-label">Ehliyet Tipi</label>
                                   <div class="col-md-9">
                                     <input type="number" class="form-control" value="">
                                  </div>
                                </div> <!---Ehliyet Tipi-->
                                <div class=" row ">
                                   <label class="col-md-3 form-label">Verildiği Yer</label>
                                   <div class="col-md-9">
                                     <input type="number" class="form-control" value="">
                                  </div>
                                </div> <!---Verildiği Yer-->
                                <div class=" row ">
                                   <label class="col-md-3 form-label">Veriliş Tarihi</label>
                                   <div class="col-md-9">
                                     <input type="number" class="form-control" value="">
                                  </div>
                                </div> <!---Veriliş Tarihi-->
                          </form>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card">
               <div class="card-header">
                   <h4 class="card-title">Tarihli Belgeler</h4>
               </div>
               <div class="card-body paddingX">
                   <div class="row">
                       <div class="col-lg-12 col-md-12">
                           <form class="form-horizontal">
                               <div class=" row ">
                                    <label class="col-md-3 form-label">Belge Türü</label>
                                    <div class="col-md-9">
                                      <input type="text" class="form-control" value="">
                                   </div>
                                 </div> <!--Belge Türü-->
                                 <div class=" row ">
                                    <label class="col-md-3 form-label">Belge No</label>
                                    <div class="col-md-9">
                                      <input type="number" class="form-control" value="">
                                   </div>
                                 </div> <!---Belge No-->
                                 <div class=" row ">
                                    <label class="col-md-3 form-label">Başlangıç Tarihi</label>
                                    <div class="col-md-9">
                                      <input type="date" class="form-control" value="">
                                   </div>
                                 </div> <!---Başlandıç Tarihi-->
                                 <div class=" row">
                                    <label class="col-md-3 form-label">Bitiş Tarihi</label>
                                    <div class="col-md-9">
                                      <input type="date" class="form-control" value="">
                                   </div>
                                 </div> <!---Bitiş Tarihi-->
                           </form>
                       </div>
                   </div>
               </div>
           </div>
     </div>
 </div>

        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Vizeler</h4>
            </div>

            <div class="card-body">
            </div>
        </div>
