<div class="row butonlar-div mb-2">
     <div class="d-flex justify-content-between ">
          <span class="m-2 color-mavi mt-3 ml-4 fs-12">Stok Bilgileri</span>
          <span>
               <button type="button" class="btn btn-primary btn1 m-1">Kaydet</button>
               <button type="button" class="btn btn-primary btn1 m-1">Filitrele</button>
               <button type="button" class="btn btn-primary btn1 m-1">Temizle</button>
          </span>
     </div>
</div>
<div class="row px-4">
<div class="col-xl-4 col-lg-4 col-md-4 ">
     <form class="form-horizontal">
          <div class="row">

               <div class="mt-2 ">
               <div class="row px-2">
                    <label class="col-md-3 form-label">Stok Kodu</label>
                    <div class="col-md-6">
                         <input type="text" class="form-control form-control1" value="" />
                    </div>
               </div>
               <!--Stok Kodu -->

               <div class="row px-2">
                    <label class="col-md-3 form-label">Türkçe Adı</label>
                    <div class="col-md-6">
                         <input type="text" class="form-control form-control1" value="" />
                    </div>
               </div>
               <!--Türkçe Adı -->
              
               <div class="row px-2">
                    <label class="col-md-3 form-label">İngilizce Adı</label>
                    <div class="col-md-6">
                         <input type="text" class="form-control form-control1" value="" />
                    </div>
               </div>
               <!--İngilizce Adı -->
               
               <div class="row px-2">
                    <label class="col-md-3 form-label">Gtip</label>
                    <div class="col-md-6">
                         <input type="text" class="form-control form-control1" value="" />
                    </div>
                    <label class="col-md-3 form-label color-purple fs-8 custom-control-label">Gtip Açıklama</label>
               </div>
               <!--Gtip combobox-->
               
               <div class="row px-2">
                         <label class="col-md-3 form-label">Muhafiyet Kodu</label>
                         <div class="col-md-6">
                              <input type="text" class="form-control form-control1" value="" />
                         </div>
                    </div><!--Muhafiyet Kodu combobox-->
               

          
               
           
            </div>

             <div class="mb-2  ">

                  <div class="row  px-2">
                    <label class="col-md-3 form-label">Br. Türkçe</label>
                    <div class="col-md-3">
                         <input type="text" class="form-control form-control1" value="" />
                    </div>
                    <div class="col-md-6">
                         <input type="text" class="form-control form-control1" value="" placeholder=""/>
                    </div>
               </div>
               <!--Br.Türkçe combobox-->

               <div class="row  px-2">
                    <label class="col-md-3 form-label">Ölçü Birimi</label>
                    <div class="col-md-3">
                         <input type="text" class="form-control form-control1" value="" />
                    </div>
                    <div class="col-md-6">
                         <input type="text" class="form-control form-control1" value="" placeholder=""/>
                    </div>
               </div>
               <!--Ölçü Birimi combobox-->


               <div class="row  px-2">
                    <label class="col-md-3 form-label">İmalatçı</label>
                    <div class="col-md-3">
                         <input type="text" class="form-control form-control1" value="" />
                    </div>
                    <label class="col-md-3 form-label color-purple fs-8">İmalatçı</label>
                    
               </div>
               <!--İmalatçı combobox-->


               <div class="row  px-2">
                    <label class="col-md-3 form-label">Barkod</label>
                    <div class="col-md-9">
                         <input type="text" class="form-control form-control1" value="" />
                    </div>
                   
               </div>
               <!--Barkod-->


               <div class="row  px-2">
                    <label class="col-md-3 form-label">Br. Fiyat Alış 1</label>
                    <div class="col-md-6">
                         <input type="text" class="form-control form-control1" value="" />
                    </div>
                    <div class="col-md-3">
                         <input type="text" class="form-control form-control1" value="" placeholder=""/>
                    </div>
                    
               </div>
               <!--Br. Fiyat Alış 1 combobox-->

               <div class="row  px-2">
                    <label class="col-md-3 form-label">Br. Fiyat Alış 2</label>
                    <div class="col-md-6">
                         <input type="text" class="form-control form-control1" value="" />
                    </div>
                    <div class="col-md-3">
                         <input type="text" class="form-control form-control1" value="" placeholder=""/>
                    </div>
                    
               </div>
               <!--Br. Fiyat Alış 2 combobox-->

               <div class="row  px-2">
                    <label class="col-md-3 form-label">Br. Fiyat Alış 3</label>
                    <div class="col-md-6">
                         <input type="text" class="form-control form-control1" value="" />
                    </div>
                    <div class="col-md-3">
                         <input type="text" class="form-control form-control1" value="" placeholder=""/>
                    </div>
                    
               </div>
               <!--Br. Fiyat Alış 3 combobox-->



               <div class="row  px-2">
                    <label class="col-md-3 form-label">Br. Fiyat Satış 1</label>
                    <div class="col-md-6">
                         <input type="text" class="form-control form-control1" value="" />
                    </div>
                    <div class="col-md-3">
                         <input type="text" class="form-control form-control1" value="" placeholder=""/>
                    </div>
                    
               </div>
               <!--Br. Fiyat Satış 1 combobox-->

               <div class="row  px-2">
                    <label class="col-md-3 form-label">Br. Fiyat Satış 2</label>
                    <div class="col-md-6">
                         <input type="text" class="form-control form-control1" value="" />
                    </div>
                    <div class="col-md-3">
                         <input type="text" class="form-control form-control1" value="" placeholder=""/>
                    </div>
                    
               </div>
               <!--Br. Fiyat Satış 2 combobox-->

               <div class="row  px-2">
                    <label class="col-md-3 form-label">Br. Fiyat Satış 3</label>
                    <div class="col-md-6">
                         <input type="text" class="form-control form-control1" value="" />
                    </div>
                    <div class="col-md-3">
                         <input type="text" class="form-control form-control1" value="" placeholder=""/>
                    </div>
                    
               </div>
               <!--Br. Fiyat Satış 3 combobox-->


               <div class="row  px-2">
                    <label class="col-md-3 form-label">KDV Oranı</label>
                    <div class="col-md-3">
                         <input type="text" class="form-control form-control1" value="" />
                    </div>
                     <label class="col-md-3 form-label color-purple fs-8">KDV Oranı</label>
               </div>
               <!--KDV Oranı combobox-->

               <div class="row  px-2">
                    <label class="col-md-3 form-label">KDV Oranı</label>
                    <div class="col-md-3">
                         <input type="text" class="form-control form-control1" value="" />
                    </div>
                     <label class="col-md-3 form-label color-purple fs-8">KDV Oranı</label>
               </div>
               <!--KDV Oranı combobox-->
            

               
               <div class="row  px-2">
                    <label class="col-md-3 form-label">Malzeme No</label>
                    <div class="col-md-3">
                         <input type="text" class="form-control form-control1" value="" />
                    </div>
                     <label class="col-md-3 form-label color-purple fs-8">1</label>
               </div>
               <!--Malzeme No combobox-->

               <div class="row  px-2">
                    <label class="col-md-3 form-label">Dip Tarihi</label>
                    <div class="col-md-6">
                         <input type="date" class="form-control form-control1" value="" />
                    </div>
               </div>
               <!--Dip Tarihi -->


               <div class="row  px-2">
                    <label class="col-md-3 form-label">Dip No</label>
                    <div class="col-md-6">
                         <input type="text" class="form-control form-control1" value="" />
                    </div>
                 
               </div>
               <!--Dip No combobox-->

               <div class="row  px-2">
                    <label class="col-md-3 form-label">Dip Satır No</label>
                    <div class="col-md-6">
                         <input type="text" class="form-control form-control1" value="" />
                    </div>
                 
               </div>
               <!--Dip Satır No -->
               </div>

          </div>
     </form>
</div>

<div class="col-md-4">
     <form class="form-horizontal">
             <div class="row">
                     <div class="mt-2">
                         <div class="row px-2">
                              <label class="col-md-3 form-label">Türkçe Fatura İçin Mal Adı</label>
                              <div class="col-md-9">
                                   <textarea class="form-control mb-4 fs-10"placeholder="Açıklama" rows="3" ></textarea>
                              </div>
                         </div>
                         <!--Türkçe Fatura İçin Mal Adı-->

                         <div class="row px-2">
                              <label class="col-md-3 form-label">İngilizce Fatura İçin Mal Adı</label>
                              <div class="col-md-9">
                                   <textarea class="form-control mb-4 fs-10"placeholder="Açıklama" rows="3" ></textarea>
                              </div>
                         </div>
                         <!--İngilizce Fatura İçin Mal Adı-->

                         <div class="row px-2">
                              <label class="col-md-3 form-label">D ah İşi İçin Gtip Kodu</label>
                              <div class="col-md-9">
                                   <input type="text" class="form-control form-control1" value="" />
                              </div>
                         </div>
                         <!--Stok Kodu -->

                         <div class="row px-2">
                              <label class="col-md-3 form-label">Brüt Ağırlık</label>
                              <div class="col-md-9">
                                   <input type="text" class="form-control form-control1" value="" placeholder="0.00"/>
                              </div>
                         </div>
                         <!--Brüt Ağırlık -->

                         <div class="row px-2">
                              <label class="col-md-3 form-label">Net Ağırlık</label>
                              <div class="col-md-9">
                                   <input type="text" class="form-control form-control1" value="" placeholder="0.000" />
                              </div>
                         </div>
                         <!--Net Ağırlık -->

                         <div class="row px-2">
                              <label class="col-md-3 form-label">En/Boy/Yükseklik</label>
                              <div class="col-md-3 prr-0 ">
                                   <input type="number" class="form-control form-control1" value="" placeholder="0.00" />
                              </div>
                              <div class="col-md-3 pll-0 prr-0">
                                   <input type="number" class="form-control form-control1" value="" placeholder="0.00" />
                              </div>
                              <div class="col-md-3 pll-0">
                                   <input type="number" class="form-control form-control1" value="" placeholder="0.00" />
                              </div>
                         </div>
                         <!--Net Ağırlık -->


                         <div class="row px-2">
                              <label class="col-md-3 form-label">Hacim Çarpanı</label>
                              <div class="col-md-6">
                                   <input type="text" class="form-control form-control1" value="" placeholder="0.000" />
                              </div>
                              <div class="col-md-3">
                                   <input type="text" class="form-control form-control1" value="" placeholder="0.000" />
                              </div>
                         </div>
                         <!--Hacim Çarpanı combobox-->

                         <div class="row px-2">
                              <label class="col-md-3 form-label">Beher Kol</label>
                              <div class="col-md-9">
                                   <input type="text" class="form-control form-control1" value="" placeholder="0.000" />
                              </div>
                              
                         </div>
                         <!--Beher Kol combobox-->

                         
                         <div class="row px-2">
                              <label class="col-md-3 form-label">Ebat</label>
                              <div class="col-md-9">
                                   <input type="text" class="form-control form-control1" value="" placeholder="0.000" />
                              </div>
                              
                         </div>
                         <!--Ebat-->

                         <div class="row px-2">
                              <label class="col-md-3 form-label">Gramaj</label>
                              <div class="col-md-9">
                                   <input type="text" class="form-control form-control1" value="" placeholder="0.000" />
                              </div>
                              
                         </div>
                         <!--Gramaj-->

                         <div class="row px-2">
                              <label class="col-md-3 form-label">Alış Hesap Planı</label>
                              <div class="col-md-3">
                                   <input type="text" class="form-control form-control1" value="" placeholder="0.000" />
                              </div>

                              <div class="col-md-6">
                                   <input type="text" class="form-control form-control1" value="" placeholder="0.000" />
                              </div>
                              
                         </div>
                         <!--Alış Hesap Planı combobox-->

                         <div class="row px-2">
                              <label class="col-md-3 form-label">Satış Hesap Planı</label>
                              <div class="col-md-3">
                                   <input type="text" class="form-control form-control1" value="" placeholder="0.000" />
                              </div>

                              <div class="col-md-6">
                                   <input type="text" class="form-control form-control1" value="" placeholder="0.000" />
                              </div>
                              
                         </div>
                         <!--Satış Hesap Planı combobox-->

                         <div class="row px-2">
                              <label class="col-md-3 form-label">Alış İade Hesap Planı</label>
                              <div class="col-md-3">
                                   <input type="text" class="form-control form-control1" value="" placeholder="0.000" />
                              </div>

                              <div class="col-md-6">
                                   <input type="text" class="form-control form-control1" value="" placeholder="0.000" />
                              </div>
                              
                         </div>
                         <!--Alış İade Hesap Planı combobox-->

                         <div class="row px-2">
                              <label class="col-md-3 form-label">Satış İade Hesap Planı</label>
                              <div class="col-md-3">
                                   <input type="text" class="form-control form-control1" value="" placeholder="0.000" />
                              </div>

                              <div class="col-md-6">
                                   <input type="text" class="form-control form-control1" value="" placeholder="0.000" />
                              </div>
                              
                         </div>
                         <!--Satış İade Hesap Planı combobox-->

                         <div class="row px-2">
                              <label class="col-md-3 form-label">Satış İsk. Hesap Kodu</label>
                              <div class="col-md-3">
                                   <input type="text" class="form-control form-control1" value="" placeholder="0.000" />
                              </div>

                              <div class="col-md-6">
                                   <input type="text" class="form-control form-control1" value="" placeholder="0.000" />
                              </div>
                              
                         </div>
                         <!--Satış İsk. Hesap Kodu combobox-->

                         <div class="row px-2">
                              <label class="col-md-3 form-label">Alış İskortosu Hesap Kodu</label>
                              <div class="col-md-3">
                                   <input type="text" class="form-control form-control1" value="" placeholder="0.000" />
                              </div>

                              <div class="col-md-6">
                                   <input type="text" class="form-control form-control1" value="" placeholder="0.000" />
                              </div>
                              
                         </div>
                         <!--Alış İskortosu Hesap Kodu combobox-->

                         <div class="row px-2">
                              <label class="col-md-3 form-label">Gelir Kodu</label>
                              <div class="col-md-3">
                                   <input type="text" class="form-control form-control1" value="" placeholder="0.000" />
                              </div>

                              <div class="col-md-6">
                                   <input type="text" class="form-control form-control1" value="" placeholder="0.000" />
                              </div>
                              
                         </div>
                         <!--GeLir Kodu combobox-->

                         <div class="row px-2">
                              <label class="col-md-3 form-label">Profit loss code</label>
                              <div class="col-md-3">
                                   <input type="text" class="form-control form-control1" value="" placeholder="0.000" />
                              </div>

                              <div class="col-md-6">
                                   <input type="text" class="form-control form-control1" value="" placeholder="0.000" />
                              </div>
                              
                         </div>
                         <!--Profit loss code combobox-->

                     </div>

             </div>
     </form>
</div>
</div>