<div class="row butonlar-div mb-2">
     <div class="d-flex justify-content-between ">
          <span class="m-2 color-mavi mt-3 ml-4 fs-12">Antrepo Hizmetler</span>
          <span>
               <button type="button" class="btn btn-primary btn1 m-1">Filitrele</button>
               <button type="button" class="btn btn-primary btn1 m-1">Temizle</button>
          </span>
     </div>
</div>
     <div class="row">
          <div class="col-md-3 px-6">
       <div class="row  px-2">
          <label class="col-md-3 form-label">Nakliye Tipi</label>
          <div class="col-md-6">
               <input type="text" class="form-control form-control1" value="" />
          </div>
          <label class="col-md-3 form-label">Antrepo</label>
       </div>
       <!--Nakliye Tipi combobox-->
     <div class="row px-2">
          <label class="col-md-3  form-label">Hizmet Tipi</label>
          <div class="col-md-9">
               <input type="text" class="form-control form-control1" value="" />
          </div>
     </div>
     <!--Hizmet Tipi combobox-->

     <div class="row px-2">
          <label class="col-md-3 form-label">Hizmet Kodu</label>
          <div class="col-md-6">
               <input type="text" class="form-control form-control1" value="" />
          </div>
     </div>
     <!--Hizmet Kodu-->

     <div class="row px-2">
          <label class="col-md-3 form-label">Açıklama</label>
          <div class="col-md-9">
               <input type="text" class="form-control form-control1" value="" />
          </div>
     </div>
     <!--Açıklama-->

     <div class="row px-2">
          <label class="col-md-3 form-label">Başlama Tarihi</label>
          <div class="col-md-6">
               <input type="date" class="form-control form-control1" value="" />
          </div>
     </div>
     <!--Başlama Tarihi-->

     <div class="row px-2">
          <label class="col-md-3 form-label">Bitiş Tarihi</label>
          <div class="col-md-6">
               <input type="date" class="form-control form-control1" value="" />
          </div>
     </div>
     <!--Bitiş Tarihi-->

     <div class="row px-2">
          <label class="col-md-3 form-label">Döviz Kuru</label>
          <div class="col-md-3">
               <input type="text" class="form-control form-control1" value="USD" />
          </div>
          <label class="col-md-3 form-label">ABD Doları</label>
     </div>
     <!--Döviz Kur-->

     
    
          </div> <!--Firma Bilgileri-->
</div>
