<div class="row butonlar-div mb-2" >
  <div class="d-flex justify-content-between ">
      <span class="m-2 color-mavi mt-3 ml-4 fs-12">Tır Karnesi</span>
      <span >
          <button type="button" class="btn btn-primary btn1 m-1">+</button>
          <button type="button" class="btn btn-primary btn1 m-1">Filitrele</button>
          <button type="button" class="btn btn-primary btn1 m-1">Temizle</button>
          <button type="button" class="btn btn-primary btn1 m-1">Kapat</button>
      </span>
 </div>
 </div>

 <div class="row mt-2">
         <div class="card">
             <div class="card-header">
                 <h4 class="card-title">Tır Karnesi</h4>
             </div>
             <div class="card-body">
                         <form class="form-horizontal">
                          <div class="row">
                            <div class="col-md-4 paddingX">
                             <div class=" row ">
                                 <label class="col-md-4 form-label">Seri No</label>
                                 <div class="col-md-8">
                                     <input type="number" class="form-control" value="">
                                 </div>
                             </div> <!--Seri No-->
                             <div class=" row">
                                  <label class="col-md-4 form-label">Karne Numarası</label>
                                  <div class="col-md-8">
                                      <input type="number" class="form-control" value="">
                                  </div>
                              </div> <!--Karne Numarası-->
                             <div class=" row">
                                 <label class="col-md-4 form-label">Başlangıç Tarihi</label>
                                 <div class="col-md-8">
                                    <input type="date" class="form-control" value="">
                                 </div>
                             </div> <!--Başlangıç Tarihi-->
                             <div class=" row">
                                  <label class="col-md-4 form-label">Bitiş Tarihi</label>
                                  <div class="col-md-8">
                                     <input type="date" class="form-control" value="">
                                  </div>
                              </div> <!--Bitiş Tarihi-->

                            </div>
                            <div class="col-md-4 paddingX">
                              <div class=" row">
                                <label class="col-md-4 form-label">Ek Süre</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" value="">
                               </div>
                             </div> <!--Ek Süre-->
                             <div class=" row">
                                <label class="col-md-4 form-label">İade Tarihi</label>
                                <div class="col-md-8">
                                   <input type="date" class="form-control" value="">
                                </div>
                            </div> <!--İade Tarihi-->
                             <div class=" row ">
                                  <label class="col-md-4 form-label">Araç Plaka</label>
                                  <div class="col-md-8">
                                    <input type="number" class="form-control" value="">
                                 </div>
                               </div> <!--Araç plaka-->
                               <div class=" row ">
                                  <label class="col-md-4 form-label">Treyler Plaka</label>
                                  <div class="col-md-8">
                                    <input type="number" class="form-control" value="">
                                 </div>
                               </div> <!--Treyler plaka-->

                            </div>
                            <div class="col-md-4 paddingX">
                               <div class=" row ">
                                  <label class="col-md-4 form-label">İade Belge No</label>
                                  <div class="col-md-8">
                                    <input type="number" class="form-control" value="">
                                 </div>
                               </div> <!--İade Belge No-->
                               <div class=" row ">
                                  <label class="col-md-4 form-label">Fiyat</label>
                                  <div class="col-md-8">
                                    <input type="number" class="form-control" value="">
                                 </div>
                               </div> <!--Fiyat-->
                               <div class=" row ">
                                  <label class="col-md-4 form-label">Sayfa Sayısı</label>
                                  <div class="col-md-8">
                                    <input type="number" class="form-control" value="">
                                 </div>
                               </div> <!--Sayfa Sayısı-->
                               <div class=" row ">
                                   <label class="col-md-4 form-label">Döviz Tipi</label>
                                   <div class="col-md-8">
                                     <input type="text" class="form-control" value="">
                                  </div>
                               </div>
                            </div>
                          </div> <!--Döviz Tipi-->
                         </form>
             </div>
         </div>
</div>
