
<div class="row butonlar-div mb-2" >
  <div class="d-flex justify-content-between ">
      <span class="m-2 color-mavi mt-3 ml-4 fs-12">Araç Hesapları</span>
      <span >
          <button type="button" class="btn btn-primary btn1 m-1">+</button>
          <button type="button" class="btn btn-primary btn1 m-1">Filitrele</button>
          <button type="button" class="btn btn-primary btn1 m-1">Temizle</button>
          <button type="button" class="btn btn-primary btn1 m-1">Kapat</button>
      </span>
 </div>
 </div>


   <div class="row mt-2">
       <div class="card">
         <div class="card-header">
           <h4 class="card-title">Başlık Bilgileri</h4>
         </div>
         <div class="card-body">
               <form class="form-horizontal">

              <div class="row">
               <div class="col-4" style="padding-left: 40px; padding-right: 40px;">
                 <div class="row ">
                   <label class="col-md-4 form-label">Referans No</label>
                   <div class="col-md-8">
                     <input type="number" class="form-control form-control1 " value="" />
                   </div>
                 </div>
                 <!--Referans No-->
                 <div class="row ">
                   <label class="col-md-4 form-label">Araç</label>
                   <div class="col-md-8">
                     <input type="text" class="form-control form-control1" value="" />
                   </div>
                 </div>
                 <!--Araç-->
                 <div class="row ">
                   <label class="col-md-4 form-label">İşlem Tarihi</label>
                   <div class="col-md-8">
                     <input type="date" class="form-control form-control1" value="" />
                   </div>
                 </div>
                 <!--İşlem Tarihi-->
               </div>

               <div class="col-4 " style="padding-left: 40px; padding-right: 40px;">
                 <div class="row ">
                   <label class="col-md-4 form-label">Pozisyon Numaraları</label>
                   <div class="col-md-8">
                     <input type="number" class="form-control form-control1" value="" />
                   </div>
                 </div>
                 <!--Pozisyon Numaraları-->
                 <div class="row ">
                   <label class="col-md-4 form-label">Açıklama</label>
                   <div class="col-md-8">
                    <textarea class="form-control form-control1 "placeholder="" rows="3" ></textarea>
                   </div>
                 </div>
                 <!--Açıklama-->

                 <div class="row">
                    <label class="col-md-4 form-label">Başlangıç Km</label>
                    <div class="col-md-8">
                      <input type="number" class="form-control form-control1" value="" placeholder="0,00"/>
                    </div>
                  </div>
                  <!--Başlangıç km-->

                </div>

                <div class="col-4" style="padding-left: 40px; padding-right: 40px;">

                  <div class="row ">
                    <label class="col-md-4 form-label">Bitiş Km</label>
                    <div class="col-md-8">
                      <input type="number" class="form-control form-control1" value="" placeholder="0,00"/>
                    </div>
                  </div>
                  <!--Bitiş km-->
                  <div class="row ">
                    <label class="col-md-4 form-label">Başlangıç Litresi</label>
                    <div class="col-md-8">
                      <input type="number" class="form-control form-control1" value="" placeholder="0,00"/>
                    </div>
                  </div>
                  <!--Başlangıç Litresi-->
                  <div class="row">
                    <label class="col-md-4 form-label">İade Litresi</label>
                    <div class="col-md-8">
                      <input type="number" class="form-control form-control1" value="" placeholder="0,00"/>
                    </div>
                  </div>
                  <!--İade Litresi-->
                </div>
              </div>
               </form>
         </div>
       </div>
   </div><!--Başlık Bilgileri-->

   <div class="row mt-2">
     <div class="col-12">
       <div class="card">
         <div class="card-header">
           <h4 class="card-title">Pozisyon Bilgileri</h4>
         </div>
         <div class="card-body">
         </div>
       </div>
     </div>
   </div> <!--Pozisyon Bilgileri-->

   <div class="row mt-2">
       <div class="card">
         <div class="card-header">
           <h4 class="card-title">Detay Bilgileri</h4>
         </div>
         <div class="card-body">
       </div>
     </div>

   </div> <!--Detay Bilgileri-->

   <div class="row mt-2">
       <div class="card">
         <div class="card-header">
           <h4 class="card-title">Toplam Detayları</h4>
         </div>
         <div class="card-body">
         </div>
     </div>

   </div> <!--Toplam Bilgileri-->


