
<div class="row butonlar-div mb-2" >
 <div class="d-flex justify-content-between ">
     <span class="m-2 color-mavi mt-3 ml-4 fs-12">Antrepoya Giriş</span>
     <span >
   <button type="button" class="btn btn-primary btn1 m-1">Filitrele</button>
   <button type="button" class="btn btn-primary btn1 m-1">Temizle</button>
     </span>
</div>
</div>


<div class="row ">
     <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">

          <div class="row">

               <div class="col-xl-4 col-lg-4 col-md-4 px-8">
                    <form class="form-horizontal">
                         <div class="row">
                                   <div class="row ">
                                        <label class="col-md-4 form-label">Şube Kodu</label>
                                        <div class="col-md-8">
                                             <input type="text" class="form-control form-control1" value="" />
                                        </div>
                                   </div>
                                   <!--Şube Kodu combobox-->
                                   <div class="row ">
                                        <label class="col-md-4  form-label">Dosya No</label>
                                        <div class="col-md-8">
                                             <input type="text" class="form-control form-control1" value="" />
                                        </div>
                                   </div>
                                   <!--Dosya No-->
                                   <div class="row ">
                                        <label class="col-md-4 form-label">Dosya Tarihi</label>
                                        <div class="col-md-8">
                                             <input type="date" class="form-control form-control1" value="" placeholder="0,00" />
                                        </div>
                                   </div>
                                   <!--Dosya No Tarihi-->
                                   <div class="row ">
                                        <label class="col-md-4 form-label">Defter No</label>
                                        <div class="col-md-8">
                                             <input type="text" class="form-control form-control1" value="" />
                                        </div>
                                   </div>
                                   <!--Defter No-->
                                   <div class="row">
                                        <label class="col-md-4 form-label">ÖZBY No</label>
                                        <div class="col-md-8">
                                             <input type="text" class="form-control form-control1" value="" />
                                        </div>
                                   </div>
                                   <!--ÖZBY No-->
                                   <div class="row">
                                        <label class="col-md-4 form-label">ÖZBY Tarihi</label>
                                        <div class="col-md-8">
                                             <input type="date" class="form-control form-control1" value="" placeholder="0,00" />
                                        </div>
                                   </div>
                                   <!--ÖZBY Tarihi-->
                                   <div class="row">
                                        <label class="col-md-4 form-label">Konşimento No</label>
                                        <div class="col-md-8">
                                             <input type="text" class="form-control form-control1" value="" placeholder="0,00" />
                                        </div>
                                   </div>
                                   <!--Konşimento No-->
                         </div>
                    </form>
               </div>

               <div class="col-xl-4 col-lg-4 col-md-4 px-8 ">
                    <form class="form-horizontal">
                         <div class="row">
                                   <div class="row">
                                        <label class="col-md-4 form-label">TCGB No</label>
                                        <div class="col-md-8">
                                             <input type="text" class="form-control form-control1" value="" />
                                        </div>
                                   </div>
                                   <!--TCGB No-->

                                   <div class="row">
                                        <label class="col-md-4 form-label">TIR ATA Karne No</label>
                                        <div class="col-md-8">
                                             <input type="text" class="form-control form-control1" value="" />
                                        </div>
                                   </div>
                                   <!--TIR ATA Karne No-->

                                   <div class="row">
                                        <label class="col-md-4 form-label">TIR ATA Karne Tarihi</label>
                                        <div class="col-md-8">
                                             <input type="date" class="form-control form-control1" value="" placeholder="0,00" />
                                        </div>
                                   </div>
                                   <!--TIR ATA Karne Tarihi-->

                                   <div class="row ">
                                        <label class="col-md-4 form-label">Fatura Firma Kodu</label>
                                        <div class="col-md-8">
                                             <input type="text" class="form-control form-control1" value="" />
                                        </div>
                                   </div>
                                   <!--Fatura Firma Kodu combobox-->

                                   <div class="row ">
                                        <label class="col-md-4 form-label">Mal Sahibi</label>
                                        <div class="col-md-8">
                                             <input type="text" class="form-control form-control1" value="" />
                                        </div>
                                   </div>
                                   <!--Mal Sahibi combobox-->

                                   <div class="row">
                                        <label class="col-md-4 form-label">Stok Kodu</label>
                                        <div class="col-md-8">
                                             <input type="text" class="form-control form-control1" value="" />
                                        </div>
                                   </div>
                                   <!--Stok Kodu combobox-->

                                   <div class="row">
                                        <label class="col-md-4 form-label">TCGB Tarihi</label>
                                        <div class="col-md-8">
                                             <input type="date" class="form-control form-control1" value="" placeholder="0,00" />
                                        </div>
                                   </div>
                                   <!--TCGB Tarihi-->
                         </div>
                    </form>
               </div>

               <div class="col-xl-4 col-lg-4 col-md-4  px-8">
                    <form class="form-horizontal">

                         <div class="row">
                              <label class="col-md-4 form-label">Müşteri Referansı</label>
                              <div class="col-md-8">
                                   <input type="text" class="form-control form-control1" value="" />
                              </div>
                         </div>
                         <!--Müşteri Referansı-->
                         <div class="row">
                              <label class="col-md-4 form-label">Sefer No</label>
                              <div class="col-md-8">
                                   <input type="text" class="form-control form-control1" value="" />
                              </div>
                         </div>
                         <!--Sefer No-->
                         <div class="row">
                              <label class="col-md-4 form-label">Gemi Adı</label>
                              <div class="col-md-8">
                                   <input type="text" class="form-control form-control1" value="" />
                              </div>
                         </div>
                         <!--Gemi Adı-->
                         <div class="row">
                              <label class="col-md-4 form-label">Plaka</label>
                              <div class="col-md-8">
                                   <input type="text" class="form-control form-control1" value="" />
                              </div>
                         </div>
                         <!--Plaka-->

                         <div class="row ">
                              <label class="col-md-4 form-label">İrsaliye No</label>
                              <div class="col-md-8">
                                   <input type="text" class="form-control form-control1" value="" />
                              </div>
                         </div>
                         <!--İrsaliye No-->
                    </form>
               </div>

          </div>

     </div>

</div>


<div class="text-center bg-mavi " >
            <p class="color-white p-2 m-0">Antrepo Depo Giriş Bilgileri</p>
</div>


<table class="table table-bordered" >
     <thead>
       <tr>
         <th scope="col" class="fs-10 p-2" >Şube Kodu</th>
         <th scope="col" class="fs-10 p-2" >Dosya No</th>
         <th scope="col" class="fs-10 p-2" >Dosya Tarihi</th>
         <th scope="col" class="fs-10 p-2" >Nak. Op. Kodu</th>
         <th scope="col" class="fs-10 p-2" >Fat. Firma Adı</th>
         <th scope="col" class="fs-10 p-2" >Beyanname No</th>
         <th scope="col" class="fs-10 p-2" >Beyanname Tarihi</th>
         <th scope="col" class="fs-10 p-2" >Tescil Bt. No</th>
         <th scope="col" class="fs-10 p-2" >Ant Fiş No</th>
         <th scope="col" class="fs-10 p-2" >Gemi Adı</th>
         <th scope="col" class="fs-10 p-2" >Sefer No</th>
         <th scope="col" class="fs-10 p-2" >Konşimento No</th>
         <th scope="col" class="fs-10 p-2" >Araç plaka</th>
         <th scope="col" class="fs-10 p-2" >Defter No</th>
         <th scope="col" class="fs-10 p-2" >ÖZBY No</th>
         <th scope="col" class="fs-10 p-2" >ÖZBY Tarihi</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <th scope="col" class="fs-10 p-2" ></th>
         <th scope="col" class="fs-10 p-2" ></th>
         <th scope="col" class="fs-10 p-2" ></th>
         <th scope="col" class="fs-10 p-2" ></th>
         <th scope="col" class="fs-10 p-2" ></th>
         <th scope="col" class="fs-10 p-2" ></th>
         <th scope="col" class="fs-10 p-2" ></th>
         <th scope="col" class="fs-10 p-2" ></th>
         <th scope="col" class="fs-10 p-2" ></th>
         <th scope="col" class="fs-10 p-2" ></th>
         <th scope="col" class="fs-10 p-2" ></th>
         <th scope="col" class="fs-10 p-2" ></th>
         <th scope="col" class="fs-10 p-2" ></th>
         <th scope="col" class="fs-10 p-2" ></th>
         <th scope="col" class="fs-10 p-2" ></th>
         <th scope="col" class="fs-10 p-2" ></th>
       </tr>
     </tbody>
   </table>


<!--Pozisyon Bilgileri-->