

<div class="row mt-2">
     <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">

          <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-4 p-2">
                    <form class="form-horizontal">
                         <div class="row">
                              <div class="col-6">
                                   <div class="row ">
                                        <label class="col-md-5 form-label">Şube Kodu</label>
                                        <div class="col-md-7">
                                             <input type="text" class="form-control" value="" />
                                        </div>
                                   </div>
                                   <!--Şube Kodu combobox-->
                                   <div class="row ">
                                        <label class="col-md-5  form-label">Dosya No</label>
                                        <div class="col-md-7">
                                             <input type="text" class="form-control" value="" />
                                        </div>
                                   </div>
                                   <!--Dosya No-->
                                   <div class="row ">
                                        <label class="col-md-5 form-label">Defter No</label>
                                        <div class="col-md-7">
                                             <input type="text" class="form-control" value="" />
                                        </div>
                                   </div>
                                   <!--Defter No-->
                                   <div class="row">
                                        <label class="col-md-5 form-label">ÖZBY No</label>
                                        <div class="col-md-7">
                                             <input type="text" class="form-control" value="" />
                                        </div>
                                   </div>
                                   <!--ÖZBY No-->

                                   <div class="row">
                                        <label class="col-md-5 form-label">Konşimento No</label>
                                        <div class="col-md-7">
                                             <input type="text" class="form-control" value="" placeholder="0,00" />
                                        </div>
                                   </div>
                                   <!--Konşimento No-->
                              </div>
                              <div class="col-6">
                                   <div class="row ">
                                        <label class="col-md-5 form-label">Tarihi</label>
                                        <div class="col-md-7">
                                             <input type="date" class="form-control" value="" placeholder="0,00" />
                                        </div>
                                   </div>
                                   <!--Tarihi-->
                                   <div class="row">
                                        <label class="col-md-5 form-label">ÖZBY Tarihi</label>
                                        <div class="col-md-7">
                                             <input type="date" class="form-control" value="" placeholder="0,00" />
                                        </div>
                                   </div>
                                   <!--ÖZBY Tarihi-->
                              </div>
                         </div>
                    </form>
               </div>

               <div class="col-xl-4 col-lg-4 col-md-4">
                    <form class="form-horizontal">
                         <div class="row">
                              <div class="col-6">
                                   <div class="row">
                                        <label class="col-md-5 form-label">TCGB No</label>
                                        <div class="col-md-7">
                                             <input type="text" class="form-control" value="" />
                                        </div>
                                   </div>
                                   <!--TCGB No-->

                                   <div class="row">
                                        <label class="col-md-5 form-label">TIR ATA Karne No</label>
                                        <div class="col-md-7">
                                             <input type="text" class="form-control" value="" />
                                        </div>
                                   </div>
                                   <!--TIR ATA Karne No-->

                                   <div class="row ">
                                        <label class="col-md-5 form-label">Fatura Firma Kodu</label>
                                        <div class="col-md-7">
                                             <input type="text" class="form-control" value="" />
                                        </div>
                                   </div>
                                   <!--Fatura Firma Kodu combobox-->

                                   <div class="row ">
                                        <label class="col-md-5 form-label">Mal Sahibi</label>
                                        <div class="col-md-7">
                                             <input type="text" class="form-control" value="" />
                                        </div>
                                   </div>
                                   <!--Mal Sahibi combobox-->

                                   <div class="row">
                                        <label class="col-md-5 form-label">Stok Kodu</label>
                                        <div class="col-md-7">
                                             <input type="text" class="form-control" value="" />
                                        </div>
                                   </div>
                                   <!--Stok Kodu combobox-->

                              </div>

                              <div class="col-6">
                                   <div class="row">
                                        <label class="col-md-5 form-label">TIR ATA Karne Tarihi</label>
                                        <div class="col-md-7">
                                             <input type="date" class="form-control" value="" placeholder="0,00" />
                                        </div>
                                   </div>
                                   <!--TIR ATA Karne Tarihi-->

                                   <div class="row">
                                        <label class="col-md-5 form-label">TCGB Tarihi</label>
                                        <div class="col-md-7">
                                             <input type="date" class="form-control" value="" placeholder="0,00" />
                                        </div>
                                   </div>
                                   <!--TCGB Tarihi-->
                              </div>

                         </div>


                    </form>
               </div>

               <div class="col-xl-2 col-lg-2 col-md-2">
                    <form class="form-horizontal">

                         <div class="row">
                              <label class="col-md-5 form-label">Müşteri Referansı</label>
                              <div class="col-md-7">
                                   <input type="text" class="form-control" value="" />
                              </div>
                         </div>
                         <!--Müşteri Referansı-->
                         <div class="row">
                              <label class="col-md-5 form-label">Sefer No</label>
                              <div class="col-md-7">
                                   <input type="text" class="form-control" value="" />
                              </div>
                         </div>
                         <!--Sefer No-->
                         <div class="row">
                              <label class="col-md-5 form-label">Gemi Adı</label>
                              <div class="col-md-7">
                                   <input type="text" class="form-control" value="" />
                              </div>
                         </div>
                         <!--Gemi Adı-->
                         <div class="row">
                              <label class="col-md-5 form-label">Plaka</label>
                              <div class="col-md-7">
                                   <input type="text" class="form-control" value="" />
                              </div>
                         </div>
                         <!--Plaka-->

                         <div class="row ">
                              <label class="col-md-5 form-label">İrsaliye No</label>
                              <div class="col-md-7">
                                   <input type="text" class="form-control" value="" />
                              </div>
                         </div>
                         <!--İrsaliye No-->







                    </form>
               </div>

               <div class="col-xl-2 col-lg-2 col-md-2">
                    <div class="row">
                         <button type="button" class="btn btn-primary">Kaydet</button>
                    </div>
                    <div class="row">
                         <button type="button" class="btn btn-primary">Kaydet</button>
                    </div>
               </div>
          </div>

     </div>

</div>

<div class="mt-2 kaydet-buton">

</div>

<div class="row mt-2">
     <div class="col-12">
          <div class="card">
               <div class="card-header">
                    <h4 class="card-title">Pozisyon Bilgileri</h4>
               </div>
               <div class="card-body">
                    <div class="row">

                    </div>
               </div>
          </div>
     </div>
</div>
<!--Pozisyon Bilgileri-->