<div class="row butonlar-div mb-2" >
  <div class="d-flex justify-content-between ">
      <span class="m-2 color-mavi mt-3 ml-4 fs-12">Araç (Çekici)</span>
      <span >
          <button type="button" class="btn btn-primary btn1 m-1">+</button>
          <button type="button" class="btn btn-primary btn1 m-1">Filitrele</button>
          <button type="button" class="btn btn-primary btn1 m-1">Temizle</button>
          <button type="button" class="btn btn-primary btn1 m-1">Kapat</button>
      </span>
 </div>
 </div>


<div class="row mt-2">
     <div class="col-12">
          <div class="card">
               <div class="card-header">
                    <h4 class="card-title">Araç(Çekici)</h4>
               </div>
               <div class="card-body">
                              <form class="form-horizontal">
                                   <div class="row">

                                   <div class="col-md-3 paddingX">
                                   <div class=" row ">
                                        <label class="col-md-4 form-label">Plaka No</label>
                                        <div class="col-md-8">
                                             <input type="text" class="form-control" value="">
                                        </div>
                                   </div>
                                   <!--Plaka No-->
                                   <div class=" row ">
                                        <label class="col-md-4 form-label">Sahibi</label>
                                        <div class="col-md-8">
                                             <input type="text" class="form-control" value="">
                                        </div>
                                   </div>
                                   <!--Sahibi-->
                                   <div class=" row ">
                                        <label class="col-md-4 form-label">Araç Durumu</label>
                                        <div class="col-md-8">
                                             <input type="text" class="form-control" value="">
                                        </div>
                                   </div>
                                   <!--Araç Durumu Combobox-->
                                   <div class=" row ">
                                        <label class="col-md-4 form-label">Araç Tipi</label>
                                        <div class="col-md-8">
                                             <input type="text" class="form-control" value="">
                                        </div>
                                   </div>
                                   <!--Araç Tipi-->
                                   <div class=" row">
                                        <label class="col-md-4 form-label">Marka</label>
                                        <div class="col-md-8">
                                             <input type="text" class="form-control" value="">
                                        </div>
                                   </div>
                                   <!--Marka-->
                                   <div class=" row">
                                        <label class="col-md-4 form-label">Model Yılı</label>
                                        <div class="col-md-8">
                                             <input type="text" class="form-control" value="">
                                        </div>
                                   </div>
                                   <!--Model Yılı-->
                                   </div>

                                   <div class="col-md-3 paddingX">

                                   <div class=" row ">
                                        <label class="col-md-4 form-label">Kapasite</label>
                                        <div class="col-md-8">
                                             <input type="text" class="form-control" value="">
                                        </div>
                                   </div>
                                   <!--Kapasite-->
                                   <div class=" row">
                                        <label class="col-md-4 form-label">Hacim Kapasite</label>
                                        <div class="col-md-8">
                                             <input type="text" class="form-control" value="">
                                        </div>
                                   </div>
                                   <!--Hacim Kapasite-->
                                   <div class=" row">
                                        <label class="col-md-4 form-label">Treyler</label>
                                        <div class="col-md-8">
                                             <input type="text" class="form-control" value="">
                                        </div>
                                   </div>
                                   <!--Treyler-->
                                   <div class=" row">
                                        <label class="col-md-4 form-label">Fiyat</label>
                                        <div class="col-md-8">
                                             <input type="text" class="form-control" value="">
                                        </div>
                                   </div>
                                   <!--Fiyat-->
                                   <div class=" row">
                                        <label class="col-md-4 form-label">Sürücü</label>
                                        <div class="col-md-8">
                                             <input type="text" class="form-control" value="">
                                        </div>
                                   </div>
                                   <!--Sürücü-->
                                   <div class="form-group m-0">
                                        <div class="custom-controls-stacked">
                                             <label class="custom-control custom-checkbox displayinlineblock">
                                                  <input type="checkbox" class="custom-control-input"
                                                       name="example-checkbox4" value="option4" checked>
                                                  <span class="custom-control-label">Aktif</span>
                                             </label>
                                             <label class="custom-control custom-checkbox displayinlineblock ">
                                                  <input type="checkbox" class="custom-control-input pdleft"
                                                       name="example-checkbox4" value="option4" checked >
                                                  <span class="custom-control-label">Öncü</span>
                                             </label>
                                        </div>
                                   </div>
                                   <!--Checkboxes-->
                                   </div>

                                   <div class="col-md-3 paddingX">

                              <div class=" row ">
                                   <label class="col-md-3 form-label">Yakıt Türü</label>
                                   <div class="col-md-9">
                                        <input type="text" class="form-control" value="">
                                   </div>
                              </div>
                              <!--Yakıt Türü-->
                              <div class=" row">
                                   <label class="col-md-3 form-label">Ruhsat Seri No</label>
                                   <div class="col-md-9">
                                        <input type="text" class="form-control" value="">
                                   </div>
                              </div>
                              <!--Ruhsat Seri No-->
                              <div class=" row">
                                   <label class="col-md-3 form-label">Kantar Ağırlığı</label>
                                   <div class="col-md-9">
                                        <input type="number" class="form-control" value="">
                                   </div>
                              </div>
                              <!--Kantar Ağırlığı-->
                              <div class=" row">
                                   <label class="col-md-3 form-label">Şase No</label>
                                   <div class="col-md-9">
                                        <input type="number" class="form-control" value="">
                                   </div>
                              </div>
                              <!--Şase No-->
                              <div class=" row">
                                   <label class="col-md-3 form-label">Motor No</label>
                                   <div class="col-md-9">
                                        <input type="number" class="form-control" value="">
                                   </div>
                              </div>
                              <!--Motor No-->
                              <div class=" row">
                                   <label class="col-md-3 form-label">Yakıt Oranı</label>
                                   <div class="col-md-9">
                                        <input type="number" class="form-control" value="">
                                   </div>
                              </div>
                              <!--Yakıt Oranı-->
                                   </div>

                                   <div class="col-md-3 paddingX">
                                        <div class=" row ">
                                             <label class="col-md-6 form-label">Ruhsat Resmi</label>
                                             <div class="col-md-6">

                                            <div class="card">
                                        <div class="row">
                                             <div class="col-8">
                                                  <img style="max-width: 500px; height:auto" src="./assets/images/faces/1.jpg" alt="">
                                             </div>
                                             <div class="col-4">
                                              <div>
                                                  <button class="form-icon-btn">
                                                       <i  ngbtooltip="fa fa-folder-open" class="fa fa-folder-open" ng-reflect-ngb-tooltip="fa fa-folder-open"></i>
                                                  </button>
                                              </div>
                                              <div>
                                                  <button class="form-icon-btn">
                                                       <i  ngbtooltip="fa fa-folder-open" class="fa fa-folder-open" ng-reflect-ngb-tooltip="fa fa-folder-open"></i>
                                                  </button>
                                              </div>
                                              <div>
                                                  <button class="form-icon-btn">
                                                       <i  ngbtooltip="fa fa-folder-open" class="fa fa-folder-open" ng-reflect-ngb-tooltip="fa fa-folder-open"></i>
                                                  </button>
                                              </div>
                                             </div>
                                        </div>

                                   </div><!--Image--> </div>


                               </div><!--Ruhsat Resmi-->
                               <div class="form-group m-0">
                                   <div class="custom-controls-stacked">
                                        <label class="custom-control custom-checkbox">
                                             <input type="checkbox" class="custom-control-input"
                                                  name="example-checkbox4" value="option4" >
                                             <span class="custom-control-label">Blokajlı mı?</span>
                                        </label>
                                   </div>
                              </div> <!--Checkboxes Blokajlı mı?-->
                              <div class=" row ">
                                   <label class="col-md-3 form-label">Blokaj Sebebi</label>
                                   <div class="col-md-9">
                                        <textarea class="form-control mb-4" placeholder="Blokaj Sebebi" rows="3"></textarea>
                                   </div>
                              </div>
                              <!--Blokaj Sebebi-->
                                   </div>

                              </div>
                            </form>
               </div>
          </div>
     </div>
</div>
<div class="row">
     <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
          <div class="card">
               <div class="card-header">
                    <h4 class="card-title">Tarihli Belgeler</h4>
               </div>

               <div class="card-body">

               </div>
          </div>
     </div>
</div>
