<div class="d-block mt-2 kaydet-buton clear-fix">
     <button type="button" class="btn btn-primary ">Kaydet</button>
  </div>
  
  
     <div class="row mt-2">
       <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12">
         <div class="card">
           <div class="card-header">
             <h4 class="card-title">Sefer Bilgileri</h4>
           </div>
           <div class="card-body">
             <div class="row">
               <div class="col-lg-12 col-md-12">
                 <form class="form-horizontal">
                   <div class="row mb-2">
                     <label class="col-md-3 form-label">Sefer No</label>
                     <div class="col-md-9">
                       <input type="number" class="form-control" value="" />
                     </div>
                   </div>
                   <!--Sefer No-->
                   <div class="row mb-2">
                     <label class="col-md-3 form-label">Açılış Tarihi</label>
                     <div class="col-md-9">
                       <input type="date" class="form-control" value="" />
                     </div>
                   </div>
                   <!--Açılılş Tarihi-->
                   <div class="row mb-2">
                     <label class="col-md-3 form-label">Kapanış Tarihi</label>
                     <div class="col-md-9">
                       <input type="date" class="form-control" value="" />
                     </div>
                   </div>
                   <!--Kapanış Tarihi-->
                   <div class="row mb-2">
                     <label class="col-md-3 form-label">Varış Lokasyonu</label>
                     <div class="col-md-9">
                       <input type="text" class="form-control" value="" />
                     </div>
                   </div>
                   <!--Varış lokasyonu-->
                  
                   <div class="row mb-2">
                      <label class="col-md-3 form-label">Sürücü</label>
                      <div class="col-md-9">
                        <input type="text" class="form-control" value="" placeholder=""/>
                      </div>
                    </div>
                    <!--Sürücü-->
                    <div class="row mb-2">
                      <label class="col-md-3 form-label">Treyler</label>
                      <div class="col-md-9">
                        <input type="text" class="form-control" value="" placeholder=""/>
                      </div>
                    </div>
                    <!--Treyler-->
                    <div class="row mb-2">
                      <label class="col-md-3 form-label">Araç Çekici</label>
                      <div class="col-md-9">
                        <input type="text" class="form-control" value="" placeholder=""/>
                      </div>
                    </div>
                    <!--Araç Çekici-->
                     
                    <div class="row mb-2">
                     <label class="col-md-3 form-label">Açıklama</label>
                     <div class="col-md-9">
                      <textarea class="form-control mb-4" placeholder="" rows="3" ></textarea>
                     </div>
                   </div>
                   <!--Açıklama-->
                 </form>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div> 
     
